.content{height:auto !important; padding:0px !important;position:relative;}
.invoice-barcode{position:absolute; bottom:-40px;}
* {font-family:'Lato', sans-serif !important;}
.trackTitle{ color:#1E824C; position:absolute; left: 270px !important;}