{{header}}
<div class="top-header">
	<table cellspacing="0" cellpadding="0" width="100%">
		<tbody>
			<tr>
				<td class="logo">
					<div class="company">
						{{var MY_LOGO}}
					</div>
				</td>
				<td class="address">
					<div class="ctn">
					<h4>OVERCART</h4>
                      <div >B 37/A, Basement, Kalka Ji<br>New Delhi - 110019, India</div>
						<div><span>Phone:</span > +91-828-752-2555 </div>
                      <div class="email"><span>Email:</span> help@overcart.com</div><hr style="color:#D2D7D3;"/>
                        <div><span>TIN:</span> 383837437483</div>
                        <div class="addition-info"> CST/VAT REG NO:07230421762<br /> </div>
				    </div>
				</td>
				<td class="invoice">
					<h3>Order {{var order.increment_id}}</h3>
					<p class="">Invoice no.: <span>#{{var invoice.increment_id}}</span></p>
					<div class="addition-info"> <strong>Order Date:</strong> {{var order.created_at_formated.medium}}<br /> </div>
					<div class="addition-info"> <strong>Invoice Date:</strong> {{var invoice.created_at_formated.medium}}<br /> </div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
{{/header}}
<div class="content">
	<div class="space">
</div>
	
	<table class="tbl-info" cellspacing="0" cellpadding="0">
		<tr valign="top">
			<td>
				<div class="contain">
					<div class="ctn"><h3>Billing Address</h3></div>
					<div class="ctn2">{{var invoice.billing.formated}}</div>
				</div>
			</td>
			<td>
				<div class="contain">
				{{if invoice.shipping}}
					<div class="ctn"><h3>Shipping Address</h3></div>
					<div class="ctn2">{{var invoice.shipping.formated}}</div>
				{{else}}
					<div class="ctn"><h3>Payment Information</h3></div>
					<div class="ctn2">{{var invoice.payment_info}}</div>
				{{/if}}
				</div>
			</td>
		</tr>
	</table>
	
	{{if invoice.shipping}}
	<table class="tbl-info pay-ship" cellspacing="0" cellpadding="0">
		<!-- <tr valign="top">
			<td>
				<div class="contain">
				<div class="ctn"><h3>Payment Information</h3></div>
				<div class="ctn2">{{var invoice.payment_info}}</div>
				</div>
			</td>
			<td>
				<div class="contain">
				<div class="ctn"><h3>Shipping information</h3></div>
				<div class="ctn2">{{var invoice.shipping_description}}</div>
				</div>
			</td>
		</tr> -->
	</table>
	{{/if}}
	
	<table id="table" class="items" cellspacing="0">
		<thead> 
		<tr> 
			<th class="header product first">PRODUCT</th> 
			<th class="header sku">SKU</th> 
			<th class="header tbprice">PRICE</th>
			<th class="header qty">QTY</th>
			<th class="header tax">TAX</th>
			<th class="header subtotal">SUBTOTAL</th>
		</tr> 
		</thead> 
		<tbody>
		{{foreach invoice.getItems() as item}}
			{{if item.is_bundle}}
			<tr class="{{if1 (j % 2)}}even{{else1}}odd{{/if1}}">
				<td class="product">
					{{var item.name}}
				</td>
				<td class="sku">{{var item.sku}}</td>
				<td class="tbprice">{{var item.price}}</td>
				<td class="qty">{{var item.qty}}</td>
				<td class="tax">{{var item.tax}}</td>
				<td class="subtotal"style="font-family:'Lato', sans-serif;">{{var item.row_total}}</td>
			</tr>
			<!-- {{foreach1 item.getSubItems() as bundle}}
				<tr class="{{if1 (j % 2)}}even{{else1}}odd{{/if1}}">
					<td>
						<div style="margin-left:20px;">
							<strong>{{var bundle.label}}</strong>
							<div class="product-options">
								{{var bundle.value}}
							</div>
						</div>
					</td>
					<td class="sku">{{var bundle.sku}}</td>
					<td class="tbprice">{{var bundle.price}}</td>
					<td class="qty">{{var bundle.qty}}</td>
					<td class="tax">{{var bundle.tax}}</td>
					<td class="subtotal">{{var bundle.row_total}}</td>
				</tr>
			{{/foreach1}} -->
			{{else}}
				<tr class="{{if1 (j % 2)}}even{{else1}}odd{{/if1}}">
					<td>
						{{var item.name}}
					</td>
					<td class="sku">{{var item.sku}}</td>
					<td class="tbprice">{{var item.price}}</td>
					<td class="qty">{{var item.qty}}</td>
					<td class="tax">{{var item.tax}}</td>
					<td class="subtotal">{{var item.row_total}}</td>
				</tr>
				{{foreach1 item.options as option}}
					<tr class="product-options {{if1 (j % 2)}}even{{else1}}odd{{/if1}}"><td colspan="6"><strong>{{var option.label}}</strong> :{{var option.value}}</td></tr>
				{{/foreach1}}
			{{/if}}
			{{inc j 1}}
		{{/foreach}}
		</tbody>
	</table>
	
	<table cellspacing="0" cellpadding="0" width="100%" class="tbprice">
            <tr>
                <td> </td>
                <td class="total-due" >
                    <table cellspacing="0" cellpadding="0" width="100%">
                        <tbody class="total-body">
			
                            {{foreach invoice.totals.body as total}}
                            <tr>
								
                                <td class="label" ><div class="summary-collapse">{{var total.label}}</div></td>
                                <td class="value" ><div class="summary"><span class="price">{{var total.value}}</span></div></td>
								
                            </tr>
                            {{/foreach}}
		
                        </tbody>
                        <tfoot>
			
                            {{foreach invoice.totals.footer as total}}
                            <tr>
                                <td class="label"><div class="summary-collapse">{{var total.label}}</div></td>
                                <td class="value"><div class="summary-collapse"><span class="price">{{var total.value}}</span></div></td>
                            </tr>
                            {{/foreach}}
			
                        </tfoot>
                    </table>
                </td>
            </tr>
	</table>

</div>
{{footer}}	
<div class="invoice-footer">
  <p style="text-align:center;padding-top:20px;">This is a computer generated document and does not require signature.</p><br/>
<p style="text-align:center"><strong>Return Address:</strong> Overcart, B 37/A, Basement, Kalka Ji, New Delhi 110019, India	</p>
</div>
{{/footer}}