{{header}}
<div class="top-header">
	<table cellspacing="0" cellpadding="0" width="100%">
		<tbody>
			<tr>
				<td class="logo">
					<div class="company">
						{{var MY_LOGO}}
					</div>
				</td>
				<td class="address">
					<div class="ctn">
						{{set (Retailer,Retailer)}}
                      {{if (customer.customer_group==Retailer)}}
 						<h2>Tax invoice</h2> 
                      {{else}}
                      
                      {{/if}}
						{{if (order.customer_id==2)}}<!-- cusdID=2 for DEL1, kalka ji, New Delhi  -->
							<div>Exit10 Marketing,<br/>B 37/A, Basement, <br/>Behind Nike Showroom, Kalka Ji,<br>New Delhi - 110019, India</div>
							<div><span>Phone:</span> +91-828-752-2555 </div>
	                        <div class="email"><span>Email:</span> help@overcart.com</div>
	                        <div class="email"><span>VAT/TIN: </span>07230421762<br /> </div>
	                        <div><span>CST: </span>07230421762</div>
	                    {{/if}}
						{{if (order.customer_id==1)}}<!-- cusdID=1 for BLR1, Marathahalli, Bangalore  -->
							<div>Exit10 Marketing,<br/>No.1 &2, Ground Floor, Angela Apartments,<br>RJ Garden, Chinnapannahalli Village,<br/>Marathahalli, Bangalore – 560 037</div>
							<div><span>Phone:</span> +91-828-752-2555 </div>
	                        <div class="email"><span>Email:</span> help@overcart.com</div>
	                        <div><span>VAT/TIN: </span>29201223751</div>
						{{/if}}<!-- cusdID=3 for DEL2, Dwarka, New Delhi  -->
						{{if (order.customer_id==3)}}
						<div>Exit10 Marketing,<br/>Delhi Delhivery FC : 319, Bharthal, Sector 26,<br>Dwarka, New Delhi - 110075.</div>
						<div><span>Phone:</span> +91-828-752-2555 </div>
                        <div class="email"><span>Email:</span> help@overcart.com</div>
                        <div><span>VAT/TIN: </span>07230421762</div>
	                    <div><span>CST: </span>07230421762</div>
						{{/if}}
						{{if (order.customer_id==4)}} <!-- cusdID=4 for BLR2, Tumkur Road, Karnataka  -->
						<div>Exit10 Marketing,<br/>105/5, Madawara Village,<br/>TCI Bus Stand ,Jaysuraya Kalayan,<br>Mantappa, Tumkur Road<br/>Karnataka - 562123</div>
							<div><span>Phone:</span> +91-828-752-2555 </div>
	                        <div class="email"><span>Email:</span> help@overcart.com</div>
	                        <div class="email"><span>VAT/TIN: </span>29201223751<br/> </div>
	                        <div><span>CST: </span></div>
						{{/if}}
				    </div>
				</td>
				<td class="invoice">
					<h3>Order {{var order.increment_id}}</h3>
					<p class="">Invoice no.: <span>#{{var invoice.increment_id}}</span></p>
					<div class="addition-info"> <strong>Order Date:</strong> {{var order.created_at_formated.medium}}<br /> </div>
					<div class="addition-info"> <strong>Invoice Date:</strong> {{var invoice.created_at_formated.medium}}<br /></div>
					<div class="addition-info"> <strong>Payment Method:</strong> {{var payment.name}}<br /> </div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
{{/header}}
<div class="content">
	<div class="space">
</div>
	
	<table class="tbl-info" cellspacing="0" cellpadding="0">
		<tr valign="top">
			<td>
				<div class="contain">
					<div class="ctn"><h3>Billing Address</h3></div>
					<div class="ctn2">{{var invoice.billing.formated}}</div>
				</div>
			</td>
			<td>
				<div class="contain">
				{{if invoice.shipping}}
					<div class="ctn"><h3>Shipping Address</h3></div>
					<div class="ctn2">{{var invoice.shipping.formated}}</div>
				{{else}}
					<div class="ctn"><h3>Payment Information</h3></div>
					<div class="ctn2">{{var invoice.payment_info}}</div>
				{{/if}}
				</div>
			</td>
		</tr>
	</table>
	
	{{if invoice.shipping}}
	<table class="tbl-info pay-ship" cellspacing="0" cellpadding="0">
		<!-- <tr valign="top">
			<td>
				<div class="contain">
				<div class="ctn"><h3>Payment Information</h3></div>
				<div class="ctn2">{{var invoice.payment_info}}</div>
				</div>
			</td>
			<td>
				<div class="contain">
				<div class="ctn"><h3>Shipping information</h3></div>
				<div class="ctn2">{{var invoice.shipping_description}}</div>
				</div>
			</td>
		</tr> -->
	</table>
	{{/if}}
	
	<table id="table" class="items" cellspacing="0">
		<thead> 
		<tr> 
			<th class="header product first">PRODUCT</th> 
			<th class="header sku">SKU</th> 
			<th class="header tbprice">PRICE</th>
			<th class="header qty">QTY</th>
			<th class="header tax">TAX</th>
			<th class="header subtotal">SUBTOTAL</th>
		</tr> 
		</thead> 
		<tbody>
		{{foreach invoice.getItems() as item}}
			{{if item.is_bundle}}
			<tr class="{{if1 (j % 2)}}even{{else1}}odd{{/if1}}">
				<td class="product">
					{{var item.name}}
                  
				</td>
				<td class="sku">{{var item.sku}}</td>
				<td class="tbprice">{{var item.price}}</td>
				<td class="qty">{{var item.qty}}</td>
				<td class="tax">{{var item.tax}}</td>
				<td class="subtotal"style="font-family:'Lato', sans-serif;">{{var item.row_total}}</td>
			</tr>
			<!-- {{foreach1 item.getSubItems() as bundle}}
				<tr class="{{if1 (j % 2)}}even{{else1}}odd{{/if1}}">
					<td>
						<div style="margin-left:20px;">
							<strong>{{var bundle.label}}</strong>
							<div class="product-options">
								{{var bundle.value}}
							</div>
						</div>
					</td>
					<td class="sku">{{var bundle.sku}}</td>
					<td class="tbprice">{{var bundle.price}}</td>
					<td class="qty">{{var bundle.qty}}</td>
					<td class="tax">{{var bundle.tax}}</td>
					<td class="subtotal">{{var bundle.row_total}}</td>
				</tr>
			{{/foreach1}} -->
			{{else}}
				<tr class="{{if1 (j % 2)}}even{{else1}}odd{{/if1}}">
					<td>
	                	{{var item.name}}<br/>

	                	{{set (Yes,Yes)}}
	                	{{set (MR65585,MR65585)}}
	                	{{set (MU65585,MU65585)}}

	                	{{if1 item.product.showimeiininvoice}}
		                	{{if2 (item.product.showimeiininvoice==Yes)}}
		                		<span style="font-size:9px;">{{var item.serialcode}}. </span>
		                	{{/if2}}
	                	{{/if1}}

	                	{{if1 (item.sku==MR65585)}}
	                		<span style="font-size: 10px;">6 Months Warranty<span>
	                	{{/if1}}

	                	{{if1 (item.sku==MU65585)}}
	                		<span style="font-size: 10px;">6 Months Warranty<span>
	                	{{/if1}}	

					</td>
					<td class="sku">{{var item.sku}}</td>
					<td class="tbprice">{{var item.price}}</td>
					<td class="qty">{{var item.qty}}</td>
					<td class="tax">{{var item.tax}}</td>
					<td class="subtotal">{{var item.row_total}}</td>
				</tr>
				{{foreach1 item.options as option}}
					<tr class="product-options {{if1 (j % 2)}}even{{else1}}odd{{/if1}}"><td colspan="6"><strong>{{var option.label}}</strong> :{{var option.value}}</td></tr>
				{{/foreach1}}
			{{/if}}
			{{inc j 1}}
		{{/foreach}}
		</tbody>
	</table>
	
	<table cellspacing="0" cellpadding="0" width="100%" class="tbprice">
            <tr>
                <td> </td>
                <td class="total-due" >
                    <table cellspacing="0" cellpadding="0" width="100%">
                        <tbody class="total-body">
			
                            {{foreach invoice.totals.body as total}}
                            <tr>
								
                                <td class="label" ><div class="summary-collapse">{{var total.label}}</div></td>
                                <td class="value" ><div class="summary"><span class="price">{{var total.value}}</span></div></td>
								
                            </tr>
                            {{/foreach}}
		
                        </tbody>
                        <tfoot>
			
                            {{foreach invoice.totals.footer as total}}
                            <tr>
                                <td class="label"><div class="summary-collapse">{{var total.label}}</div></td>
                                <td class="value"><div class="summary-collapse"><span class="price">{{var total.value}}</span></div></td>
                            </tr>
                            {{/foreach}}
			
                        </tfoot>
                    </table>
                </td>
            </tr>
	</table>

</div>
{{footer}}	
<div class="invoice-footer">
  <p style="text-align:center;padding-top:20px;">This is a computer generated document and does not require signature.</p><br/>
  
	{{if (order.customer_id==2)}}<!-- cusdID=2 for DEL1, kalka ji, New Delhi  -->
	<p style="text-align:center"><strong>Return Address:</strong> Exit10 Marketing, B 37/A, Basement, Kalka Ji, New Delhi 110019, India	</p>
	{{/if}}

	{{if (order.customer_id==1)}}<!-- cusdID=1 for BLR1, Marathahalli, Bangalore  -->
	<p style="text-align:center"><strong>Return Address:</strong> Exit10 Marketing, No.1 & 2, Ground Floor, Angela Apartments, RJ Garden, Chinnapannahalli Village, Marathahalli, Bangalore – 560 037,India	</p>
	{{/if}}

	{{if (order.customer_id==3)}}<!-- cusdID=3 for DEL2, Dwarka, New Delhi  -->
	<p style="text-align:center"><strong>Return Address:</strong> Exit10 Marketing, B 37/A, Basement, Kalka Ji, New Delhi 110019, India	</p>
	{{/if}}

	{{if (order.customer_id==4)}} <!-- cusdID=4 for BLR2, Tumkur Road, Karnataka  -->
	<p style="text-align:center"><strong>Return Address:</strong> Exit10 Marketing, No.1 & 2, Ground Floor, Angela Apartments, RJ Garden, Chinnapannahalli Village, Marathahalli, Bangalore – 560 037,India	</p>
	{{/if}}
	
</div>
{{/footer}}
