{{header}}
<div class="top-header">
	<table cellspacing="0" cellpadding="0" width="100%">
		<tbody>
			<tr>
				<td class="logo">
					<div class="company">
						{{var MY_LOGO}}
					</div>
				</td>
				<td class="address">
					<div class="ctn">
						<!-- <h4>OVERCART --{{var order.customer_id}}</h4> -->
						{{if (order.customer_id==2)}}<!-- cusdID=2 for DEL1, kalka ji, New Delhi  -->
							<div>Exit10 Marketing,<br/>B 37/A, Basement, <br/>Behind Nike Showroom, Kalka Ji,<br>New Delhi - 110019, India</div>
							<div><span>Phone:</span> +91-828-752-2555 </div>
	                        <div class="email"><span>Email:</span> help@overcart.com</div>
	                        <div class="email"><span>VAT/TIN: </span>07230421762<br /> </div>
	                        <div><span>CST: </span>07230421762</div>
	                    {{/if}}
						{{if (order.customer_id==1)}}<!-- cusdID=1 for BLR1, Marathahalli, Bangalore  -->
							<div>Exit10 Marketing,<br/>No.1 &2, Ground Floor, Angela Apartments,<br>RJ Garden, Chinnapannahalli Village,<br/>Marathahalli, Bangalore – 560 037</div>
							<div><span>Phone:</span> +91-828-752-2555 </div>
	                        <div class="email"><span>Email:</span> help@overcart.com</div>
	                        <div><span>VAT/TIN: </span>29201223751</div>
						{{/if}}<!-- cusdID=3 for DEL2, Dwarka, New Delhi  -->
						{{if (order.customer_id==3)}}
						<div>Exit10 Marketing,<br/>Delhi Delhivery FC : 319, Bharthal, Sector 26,<br>Dwarka, New Delhi - 110075.</div>
						<div><span>Phone:</span> +91-828-752-2555 </div>
                        <div class="email"><span>Email:</span> help@overcart.com</div>
                        <div><span>VAT/TIN: </span>07230421762</div>
	                    <div><span>CST: </span>07230421762</div>
						{{/if}}
						{{if (order.customer_id==4)}} <!-- cusdID=4 for BLR2, Tumkur Road, Karnataka  -->
						<div>Exit10 Marketing,<br/>105/5, Madawara Village,<br/>TCI Bus Stand ,Jaysuraya Kalayan,<br>Mantappa, Tumkur Road<br/>Karnataka - 562123</div>
							<div><span>Phone:</span> +91-828-752-2555 </div>
	                        <div class="email"><span>Email:</span> help@overcart.com</div>
	                        <div class="email"><span>VAT/TIN: </span>29201223751<br/> </div>
	                        <div><span>CST: </span></div>
						{{/if}}
				    </div>
				</td>
				<td class="invoice">
					<h4>INVOICE</h4>
					<div class=""><strong>ORDER ID: </strong><span>{{var order.increment_id}}</span></div>
					<div class="addition-info"> <strong>Created Date:</strong> {{var shipment.created_at_formated.medium}}<br /> </div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
{{/header}}
<div class="content">
	
	<table class="tbl-info" cellspacing="0" cellpadding="0">
		<tr valign="top">
			<td>
				<div class="contain">
					{{if shipment.shipping}}
					<div class="ctn"><h3>Shipping Address</h3></div>
					<div class="ctn2">{{var shipment.shipping.formated}}</div>
				{{else}}
					<div class="ctn"><h3>Payment Information</h3></div>
					<div class="ctn2">{{var shipment.payment_info}}</div>
                  {{/if}}</div>
			</td>
			<td>
				<div class="contain">
                  <p style="text-align:center">COD<br>
				{{if shipment.shipping}}
				{{barcode shipment.increment_id}}
				{{/if}}<br>
                    AWB:{{var shipment.increment_id}} 
                  
                  </p>
                 
				</div>
			</td>
          <td>
			<div class="contain">	
              <h2><strong>COD collection amount:<br/>{{var order.grand_total}}</strong></h2><!--<br/>infoblock:{{var payment.info}}-->
            </div></td>
          
		</tr>
	</table>
	
	
	
	<table id="table" class="items" cellspacing="0">
		<thead> 
		<tr> 
			<th class="header product">PRODUCT</th> 
			<th class="header qty first">QTY</th>
			<th class="header qty first">VALUE</th>
			<th class="header sku">SKU</th> 
		</tr> 
		</thead> 
		<tbody>
		{{foreach shipment.getItems() as item}}
			{{if item.is_bundle}}
			<tr class="{{if1 (j % 2)}}even{{else1}}odd{{/if1}}">
				<td class="product">
					{{var item.name}}
				</td>
				<td class="qty">{{var item.qty}}</td>
				<td class="qty">{{var item.price}}</td>
				<td class="sku">{{var item.sku}}</td>
			</tr>
			<!-- {{foreach1 item.getSubItems() as bundle}}
				<tr class="{{if1 (j % 2)}}even{{else1}}odd{{/if1}}">
					<td class="qty">{{var bundle.qty}}</td>
					<td>
						<div style="margin-left:20px;">
							<strong>{{var bundle.label}}</strong>
							<div class="product-options">
								{{var bundle.value}}
							</div>
						</div>
					</td>
					<td class="sku">{{var bundle.sku}}</td>
				</tr>
			{{/foreach1}} -->
			{{else}}
				<tr class="{{if1 (j % 2)}}even{{else1}}odd{{/if1}}">
					<td> {{var item.name}} </td>
					<td class="qty">{{var item.qty}}</td>
					<td class="qty">{{var item.price}}</td>
					<td class="sku">{{var item.sku}}</td>
					
				</tr>
				{{foreach1 item.options as option}}
					<tr class="product-options {{if1 (j % 2)}}even{{else1}}odd{{/if1}}"><td colspan="6"><strong>{{var option.label}}</strong> :{{var option.value}}</td></tr>
				{{/foreach1}}
			{{/if}}
			{{inc j 1}}
		{{/foreach}}
				<tr class="{{if1 (j % 2)}}even{{else1}}odd{{/if1}}">
					<td class="qty"></td>
                  	<td></td>
					<td class="qty">{{var order.grand_total}}</td>
					<td class="sku"></td>
					</tr>
		</tbody>
	</table>
	
<div class="invoice-barcode"><p style="text-align:center">Order ID:<br>
                   {{barcode order.increment_id}}<br>{{var order.increment_id}}</p>
				</div>

</div>
{{footer}}	
<div class="invoice-footer">
	<p style="text-align:center;padding-top:20px;">This is a computer generated document and does not require signature.</p><br/>
  
	{{if (order.customer_id==2)}}<!-- cusdID=2 for DEL1, kalka ji, New Delhi  -->
	<p style="text-align:center"><strong>Return Address:</strong> Exit10 Marketing, B 37/A, Basement, Kalka Ji, New Delhi 110019, India	</p>
	{{/if}}

	{{if (order.customer_id==1)}}<!-- cusdID=1 for BLR1, Marathahalli, Bangalore  -->
	<p style="text-align:center"><strong>Return Address:</strong> Exit10 Marketing, No.1 &amp; 2, Ground Floor, Angela Apartments, RJ Garden, Chinnapannahalli Village, Marathahalli, Bangalore – 560 037,India	</p>
	{{/if}}

	{{if (order.customer_id==3)}}<!-- cusdID=3 for DEL2, Dwarka, New Delhi  -->
<p style="text-align:center"><strong>Return Address:</strong> Exit10 Marketing, B 37/A, Basement, Kalka Ji, New Delhi 110019, India	</p>
	{{/if}}

	{{if (order.customer_id==4)}} <!-- cusdID=4 for BLR2, Tumkur Road, Karnataka  -->
<p style="text-align:center"><strong>Return Address:</strong> Exit10 Marketing, No.1 &amp; 2, Ground Floor, Angela Apartments, RJ Garden, Chinnapannahalli Village, Marathahalli, Bangalore – 560 037,India	</p>
	{{/if}}
</div>
{{/footer}}