{{header}}
<div class="top-header">
	<table cellspacing="0" cellpadding="0" width="100%">
		<tbody>
			<tr>
				<td class="logo">
					<div class="company">
						{{var MY_LOGO}}
					</div>
				</td>
				<td class="address">
					<div class="ctn">
						<h3>OVERCART</h3>
                      <p><span>Address:</span></p>
                      <p>B 37/A, Basement, Kalka Ji<br/>New Delhi - 110019, India</p>
						<p><span>Phone:</span> +91-828-752-2555 </p>
						<p class="email"><span>Email:</span> help@overcart.com</p>
                      <p>TIN : 383837437483</p>
				    </div>
				</td>
				<td class="invoice">
					<h3>Invoice</h3>
					<p class="">Packingslip: <span>#{{var shipment.increment_id}}</span></p>
					<div class="addition-info">
						<strong>Created Date:</strong> {{var shipment.created_at_formated.medium}}<br />
					</div>
                  	<div class="addition-info">
						<strong>VAT REG NO:</strong>07230421762<br />
					</div>
                  	<div class="addition-info">
						<strong>CST REG NO:</strong>07230421762<br />
					</div>

				</td>
			</tr>
		</tbody>
	</table>
</div>
{{/header}}
<div class="content">
	
	<table class="tbl-info" cellspacing="0" cellpadding="0">
		<tr valign="top">
			<td>
				<div class="contain">
					<div class="ctn"><h3>Billing Address</h3></div>
					<div class="ctn2">{{var shipment.billing.formated}}</div>
				</div>
			</td>
			<td>
				<div class="contain">
				{{if shipment.shipping}}
					<div class="ctn"><h3>Shipping Address</h3></div>
					<div class="ctn2">{{var shipment.shipping.formated}}</div>
				{{else}}
					<div class="ctn"><h3>Payment Information</h3></div>
					<div class="ctn2">{{var shipment.payment_info}}</div>
				{{/if}}
				</div>
			</td>
		</tr>
	</table>
	
	{{if shipment.shipping}}
	<table class="tbl-info pay-ship" cellspacing="0" cellpadding="0">
		<tr valign="top">
			<td>
				<div class="contain">
				<div class="ctn"><h3>Payment Information</h3></div>
				<div class="ctn2">{{var shipment.payment_info}}</div>
				</div>
			</td>
			<td>
				<div class="contain">
				<div class="ctn"><h3>Shipping information</h3></div>
				<div class="ctn2">{{var shipment.shipping_description}}</div>
					{{if1 shipment.tracking}}
						<table width="100%" cellpadding="0" cellspacing="0" class="items track" style="margin-top: 10px;">
								<thead>
									<tr><th class="header first">Title</th><th class="header">Number</th></tr>
								</thead>
								<tbody>
									{{foreach shipment.tracking as track}}
									<tr><td>{{var track.title}}</td><td>{{var track.number}}</td></tr>
									{{/foreach}}
								</tbody>
						</table>
					{{/if1}}
				</div>
			</td>
		</tr>
	</table>
	{{/if}}
	
	<table id="table" class="items" cellspacing="0">
		<thead> 
		<tr> 
			<th class="header qty first">QTY</th>
			<th class="header product">PRODUCT</th> 
			<th class="header sku">SKU</th> 
		</tr> 
		</thead> 
		<tbody>
		{{foreach shipment.getItems() as item}}
			{{if item.is_bundle}}
			<tr class="{{if1 (j % 2)}}even{{else1}}odd{{/if1}}">
				<td class="qty">{{var item.qty}}</td>
				<td class="product">
					{{var item.name}}
				</td>
				<td class="sku">{{var item.sku}}</td>
			</tr>
			{{foreach1 item.getSubItems() as bundle}}
				<tr class="{{if1 (j % 2)}}even{{else1}}odd{{/if1}}">
					<td class="qty">{{var bundle.qty}}</td>
					<td>
						<div style="margin-left:20px;">
							<strong>{{var bundle.label}}</strong>
							<div class="product-options">
								{{var bundle.value}}
							</div>
						</div>
					</td>
					<td class="sku">{{var bundle.sku}}</td>
				</tr>
			{{/foreach1}}
			{{else}}
				<tr class="{{if1 (j % 2)}}even{{else1}}odd{{/if1}}">
					<td class="qty">{{var item.qty}}</td>
					<td>
						{{var item.name}}
					</td>
					<td class="sku">{{var item.sku}}</td>
					
				</tr>
				{{foreach1 item.options as option}}
					<tr class="product-options {{if1 (j % 2)}}even{{else1}}odd{{/if1}}"><td colspan="6"><strong>{{var option.label}}</strong> :{{var option.value}}</td></tr>
				{{/foreach1}}
			{{/if}}
			{{inc j 1}}
		{{/foreach}}
		</tbody>
	</table>
	

</div>
{{footer}}	
<div class="invoice-footer">
		{{if shipment.shipping}}
		<table class="tbl-info2" cellspacing="0" cellpadding="0" width="100%">
			<tr valign="top">
              <td width="100%">
                <div class="barcode" style="width:100%">
						{{barcode shipment.increment_id}}
					</div>
				</td>
			</tr>
		</table>
		{{/if}}
</div>
{{/footer}}