{{header}}
<div class="top-header">
	<table cellspacing="0" cellpadding="0" width="100%">
		<tbody>
			<tr>
				<td class="logo">
					<div class="company">
						{{var MY_LOGO}}
					</div>
				</td>
				<td class="address">
					<div class="ctn">
						<h4>OVERCART</h4>
                      <div>B 37/A, Basement, Kalka Ji<br>New Delhi - 110019, India</div>
						<div><span>Phone:</span> +91-828-752-2555 </div>
                        <div class="email"><span>Email:</span> help@overcart.com</div>
                        <div><span>TIN:</span> 383837437483</div>
                      
				    </div>
				</td>
				<td class="invoice">
					<h4>INVOICE</h4>
					<div class=""><strong>ORDER ID: </strong><span>{{var order.increment_id}}</span></div>
					<div class="addition-info">
						<strong>Created Date:</strong> {{var shipment.created_at_formated.medium}}<br />
					</div>
                  	<div class="addition-info">
						<strong>VAT REG NO:</strong>07230421762<br />
					</div>
                  	<div class="addition-info">
						<strong>CST REG NO:</strong>07230421762<br />
					</div>
                  

				</td>
			</tr>
		</tbody>
	</table>
</div>
{{/header}}
<div class="content">
	
	<table class="tbl-info" cellspacing="0" cellpadding="0">
		<tr valign="top">
			<td>
				<div class="contain">
					{{if shipment.shipping}}
					<div class="ctn"><h3>Shipping Address</h3></div>
					<div class="ctn2">{{var shipment.shipping.formated}}</div>
				{{else}}
					<div class="ctn"><h3>Payment Information</h3></div>
					<div class="ctn2">{{var shipment.payment_info}}</div>
                  {{/if}}</div>
			</td>
			<td>
				<div class="contain">
                  <p style="text-align:center">AWB:<br>
				{{if shipment.shipping}}
				{{barcode shipment.increment_id}}
				{{/if}}<br>
                 {{var shipment.increment_id}} 
                  
                  </p>
                 
				</div>
			</td>
          <td>
				<div class="contain">
                 <p style="text-align:center">Order ID:<br>
                   {{barcode order.increment_id}}<br>{{var order.increment_id}}</p>
				</div>
			</td>
          
		</tr>
	</table>
	
	
	
	<table id="table" class="items" cellspacing="0">
		<thead> 
		<tr> 
			<th class="header qty first">QTY</th>
			<th class="header product">PRODUCT</th> 
			<th class="header sku">SKU</th> 
		</tr> 
		</thead> 
		<tbody>
		{{foreach shipment.getItems() as item}}
			{{if item.is_bundle}}
			<tr class="{{if1 (j % 2)}}even{{else1}}odd{{/if1}}">
				<td class="qty">{{var item.qty}}</td>
				<td class="product">
					{{var item.name}}
				</td>
				<td class="sku">{{var item.sku}}</td>
			</tr>
			{{foreach1 item.getSubItems() as bundle}}
				<tr class="{{if1 (j % 2)}}even{{else1}}odd{{/if1}}">
					<td class="qty">{{var bundle.qty}}</td>
					<td>
						<div style="margin-left:20px;">
							<strong>{{var bundle.label}}</strong>
							<div class="product-options">
								{{var bundle.value}}
							</div>
						</div>
					</td>
					<td class="sku">{{var bundle.sku}}</td>
				</tr>
			{{/foreach1}}
			{{else}}
				<tr class="{{if1 (j % 2)}}even{{else1}}odd{{/if1}}">
					<td class="qty">{{var item.qty}}</td>
					<td>
						{{var item.name}}
					</td>
					<td class="sku">{{var item.sku}}</td>
					
				</tr>
				{{foreach1 item.options as option}}
					<tr class="product-options {{if1 (j % 2)}}even{{else1}}odd{{/if1}}"><td colspan="6"><strong>{{var option.label}}</strong> :{{var option.value}}</td></tr>
				{{/foreach1}}
			{{/if}}
			{{inc j 1}}
		{{/foreach}}
		</tbody>
	</table>
	


</div>
{{footer}}	
<div class="invoice-footer">
  <p style="text-align:center;padding-top:20px;">This is a computer generated document and does not require signature.</p><br/>
<p style="text-align:center"><strong>Return Address:</strong> Overcart, B 37/A, Basement, Kalka Ji, New Delhi 110019, India	</p>
</div>
{{/footer}}